<div class="chips-container">
  <div class="chips" id="PurpleChips">
    <div *ngIf='purpChips.length==1'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==2'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==3'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==4'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==5'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:2px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==6'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:6px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==7'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:10px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==8'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:14px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==9'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:18px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==10'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:18x;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:22px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==11'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:18x;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:22px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:26px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==12'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:18x;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:22px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:26px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:30px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==13'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:18x;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:22px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:26px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:30px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:34px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==14'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:18x;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:22px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:26px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:30px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:34px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:38px;'>
        <span>$</span>500
      </div>
    </div>
    <div *ngIf='purpChips.length==15'>
      <div class='chip purp-chip' style='top:-14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:-2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:2px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:6px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:10px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:14px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:18x;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:22px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:26px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:30px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:34px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:38px;'>
        <span>$</span>500
      </div>
      <div class='chip purp-chip' style='top:42px;'>
        <span>$</span>500
      </div>
    </div>
  </div>
  <div class='chips' id='RedChips'>
    <div *ngIf='redChips.length==1'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==2'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==3'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==4'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==5'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:2px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==6'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:6px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==7'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:10px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==8'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:14px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==9'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:18px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==10'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:18x;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:22px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==11'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:18x;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:22px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:26px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==12'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:18x;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:22px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:26px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:30px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==13'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:18x;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:22px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:26px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:30px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:34px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==14'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:18x;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:22px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:26px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:30px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:34px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:38px;'>
        <span>$</span>100
      </div>
    </div>
    <div *ngIf='redChips.length==15'>
      <div class='chip red-chip' style='top:-14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:-2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:2px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:6px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:10px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:14px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:18x;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:22px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:26px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:30px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:34px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:38px;'>
        <span>$</span>100
      </div>
      <div class='chip red-chip' style='top:42px;'>
        <span>$</span>100
      </div>
    </div>
  </div>
  <div class="chips" id='BlueChips'>
    <div *ngIf='blueChips.length==1'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==2'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==3'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==4'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==5'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:2px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==6'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:6px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==7'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:10px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==8'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:14px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==9'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:18px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==10'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:18x;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:22px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==11'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:18x;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:22px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:26px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==12'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:18x;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:22px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:26px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:30px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==13'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:18x;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:22px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:26px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:30px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:34px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==14'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:18x;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:22px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:26px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:30px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:34px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:38px;'>
        <span>$</span>50
      </div>
    </div>
    <div *ngIf='blueChips.length==15'>
      <div class='chip blue-chip' style='top:-14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:-2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:2px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:6px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:10px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:14px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:18x;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:22px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:26px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:30px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:34px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:38px;'>
        <span>$</span>50
      </div>
      <div class='chip blue-chip' style='top:42px;'>
        <span>$</span>50
      </div>
    </div>
  </div>
  <div class="chips">
    <div *ngIf='greenChips.length==1'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==2'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==3'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==4'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==5'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:2px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==6'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:6px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==7'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:10px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==8'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:14px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==9'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:18px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==10'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:18x;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:22px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==11'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:18x;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:22px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:26px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==12'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:18x;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:22px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:26px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:30px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==13'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:18x;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:22px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:26px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:30px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:34px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==14'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:18x;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:22px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:26px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:30px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:34px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:38px;'>
        <span>$</span>25
      </div>
    </div>
    <div *ngIf='greenChips.length==15'>
      <div class='chip green-chip' style='top:-14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:-2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:2px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:6px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:10px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:14px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:18x;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:22px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:26px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:30px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:34px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:38px;'>
        <span>$</span>25
      </div>
      <div class='chip green-chip' style='top:42px;'>
        <span>$</span>25
      </div>
    </div>
  </div>
</div>
